.accordion {
  height: 0;
  overflow: hidden;
  transition: height 0.3s ease;
}

.accordion.open {
  height: auto;
  transition: height 0.3s ease;
}

.accordion-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
}

.arrow-up {
  transform: rotate(180deg);
  transition: transform 0.3s ease;
}

.arrow-down {
  transform: rotate(0deg);
  transition: transform 0.3s ease;
}

.accordion-content {
  margin-top: 21px;
}


.input-content {
  display: flex;
  align-items: center;
}