.custom-select__control * {
  padding: 0 !important;
}

.custom-select__control {
  padding: 10px 15px !important;
  background-color: transparent !important;
  border: 1px solid #C4C4C4 !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.custom-select__control--is-focused {
  border: 1px solid #F2766A !important;
}

.custom-select__input-container {
  color: #999aa5 !important;
}

.custom-select__indicator-separator {
  display: none !important;
}

.custom-select__indicator {
  color: #66676e !important;
}

.custom-select__indicator:hover {
  color: #999aa5 !important;
}

.custom-select__control--menu-is-open .custom-select__indicator {
  transform: rotate(180deg);
  transition: all 0.3s ease-in-out;
}

.custom-select__menu {
  color: #414141 !important;
  background-color: #FFFFFF !important;
  animation: scaleIn 0.35s ease-in-out;
}

.custom-select__option {
  padding: 10px !important;
  color: #2B2B2B !important;
  font-weight: 500 !important;
  font-size: 14px !important;
  font-family: Gilroy, sans-serif;
  line-height: 20px !important;
  background-color: transparent !important;
  cursor: pointer !important;
}

.custom-select__option--is-selected {
  position: relative;
  color: #F2766A !important;
  background-color: transparent !important;
}

.custom-select__option--is-selected::after {
  position: absolute;
  top: 50%;
  right: 20px;
  bottom: 50%;
  width: 10px;
  height: 10px;
  background-image: url('/src/assets/check.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transform: translate(-50%, -50%);
  content: '';
}

.custom-select-container > div {
  outline: none !important;
  box-shadow: none !important;
}

@keyframes scaleIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
