.react-datepicker * {
  border: none;
}

.react-datepicker__day--selected  {
  background-color: #F2766A;
}

.react-datepicker {
  border: none;
}

.react-datepicker__day {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 23px;
  height: 23px;
  margin: 6px 10px;
  border-radius: 50% !important;
}

.react-datepicker__day-names {
  display: flex;
  gap: 10px;
  justify-content: center;
  margin: 0;
}

.react-datepicker__header {
  background-color: #FFF;
}

.react-datepicker__current-month {
  margin-bottom: 20px;
  text-transform: capitalize !important;
}

.react-datepicker__month {
  margin: 0;
  background: #FFF;
  border-radius: 5px;
  box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.20);
}

.react-datepicker__triangle {
  display: none !important;
}

.react-datepicker-year {
  color: red
}

.react-datepicker-month {
  padding-right: 5px;
  text-transform: capitalize;
}

.react-datepicker-header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 10px;
}

.react-datepicker-wrapper {
  width: 100%;
}

.input {
  position: relative;
  width: 100%;
  padding: 10px 15px;
  color: #999aa5;
  border: 1px solid #C4C4C4;
  border-radius: 10px;
  transition: border .3s ease;
}

.input::before {
  position: absolute;
  top: 10px;
  right: 10px;
  z-index: 100;
  width: 18px;
  height: 18px;
  background-color: red;
  content: ' ';
}

input:focus {
  border: 1px solid #F2766A;
  outline: none;
}

.input-icon {
  position: absolute;
  top: 50%;
  right: 10px;
  transform: translateY(-50%);
}
